body {
  margin:0;
  padding:0;
  font-family:Segoe UI;
}

header {
  background-color:black;
  height:100px;
}

.cards {

}

.cards-title {
  
}  

.cards-filter{
  
}

.cards-box{
 
}

.pages {
  
}
